.container {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  margin: 0px;
}

.dateSelector {
  display: flex;
  flex-direction: column;
}
.dateSelector label {
  margin-bottom: .5rem;
}

.audioPreviewsList {
  padding-left: 2rem;
}

.audioPlayerContainer {
  margin-bottom: 2rem;
}

.audioPreviewsContainer {
  border: 1px solid var(--main);
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.noAudioMessage {
  font-size: 1.3rem;
}

.audioPlayer {
  width: 100%
}